frappe @ git+https://github.com/frappe/frappe.git@v15.21.0
erpnext @ git+https://github.com/frappe/erpnext.git@v15.21.0
black
ruff
pytest>=8.0
pytest-cov
mypy
pre-commit
isort==5.12.0
requests==2.31.0
click==8.1.7
qrcode
zxcvbn-python
